@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font: "Open Sans", sans-serif, 1.5rem;
  transition: 0.55s;
}
.contain {
  background-image: url("../img/fond.png");
  line-height: 1.5;
  padding-bottom: 50px;
}
.header-bg {
  background-image: url("https://cdn.discordapp.com/attachments/705107768452972574/854323189156020224/unknown.png");
  background-size: cover;
}
.navbar {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-weight: bold;
}
.article .card {
  margin-top: 8%;
  background-color: transparent;
}
.article .card:hover {
  transform: scale(1.03);
  transition: 0.4s;
}
.article .btn-price:hover {
  animation: 0.9s ease-out 0.2s infinite alternate running rebondir;
}
@keyframes rebondir {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.article a {
  text-decoration: none;
  color: black;
}
.article a:hover {
  color: #58b58d;
}
.card-img-top {
  max-height: 220px;
}
.profile h5,
h6,
p {
  padding: 10px;
}
.city {
  background-color: #d6e3d8;
  text-align: center;
  padding: 10px;
  width: 100%;
}
.card {
  padding: 0;
}
.card-body {
  padding-top: 0;
}
.price {
  font-family: "M PLUS 1p", sans-serif;
  color: #29362e;
}
.btn-color {
  background-color: #ffd932;
  margin-left: 75px;
}
.new {
  padding-top: 2em;
}
.new h1 {
  text-align: center;
  margin-bottom: 1em;
}
.new form {
  width: 75%;
  margin: 0 auto;
  background-color: transparent;
}
footer {
  background-color: #29362e;
  padding: 100px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: snow;
}
footer p {
  padding: 20px;
  margin: 0;
}
