{% extends 'base.html.twig' %}

{% block title %}Chez Emma{% endblock %}

{% block content %}
<div class="py-5">
    <div class="shadow-lg card pt-3 mx-auto" style="width: 20rem;">
        <h1 class="text-center">{{product.name}}</h1>
        <img src="{{product.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">{{product.description}}</p>
            <p class="fw-bold">{{product.price}}&euro;</p>
        </div>
    </div>
</div>

{% endblock %}
